<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Awesome Indexed - Searchable Awesome Lists</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <style>
        .roboto {
            font-family: 'Roboto', sans-serif;
        }

        h1 {
            color: #fc60a8;
        }

        .awesome-purple {
            background: #4a4368;
        }

        .awesome-purple-color {
            color: #4a4368;
        }
    </style>
</head>
<body>
    <div class="sans-serif roboto" id="app">
        {% block content %}{% endblock %}
    </div>
    <script src="js/main.js"></script>
</body>
</html>
