{% extends 'base.html.twig' %}

{% block content %}
    <div class="awesome-purple">
        <div class="pt4 pb5">
            <h1 class="f1 lh-title tc mt0"><a href="/" class="link color-inherit">Awesome Indexed</a></h1>
            <p class="tc white-70">A way to search over the original <a href="https://awesome.re" class="pa2"><img class="v-mid" src="https://awesome.re/badge.svg"/></a> dataset. Great for discovery and finding alternatives.</p>
            <form class="mw6 center pt4" action="" method="get" onsubmit="return onSearch();">
                <fieldset class="pa0 b--none">
                    <div class="cf">
                        <label class="clip" for="search">Search</label>
                        <input class="f5 input-reset bn fl black-80 bg-white pa3 lh-solid w-80 br"
                               placeholder="php performance" type="text" name="search" value="{{ searchTerm }}" id="search">
                        <input class="f5 button-reset fl pv3 bn bg-white-50 hover-bg-white-30 white pointer w-20 br br--bottom"
                               name="submit" type="submit" value="Go">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="w-100 center">
        {% verbatim %}
        <div class="awesome-purple-color" id="results">

        </div>

        <div class="awesome-purple-color dn" id="no-results">
            <h2 class="f3 tc pa4">No Results 😭</h2>
        </div>

        <div class="awesome-purple-color dn" id="tutorial">
            <h2 class="f3 tc pa4 pb0">Tutorial 👌</h2>

            <div class="b--near-white b--solid bt-0 bl-0 br-0 bw1 hover-bg-near-white">
                <div class="w-80 pa3 cf relative center">
                    <a href="?search=php" class="ml2 link w-100 db fl awesome-purple-color">
                        <h2 class="f4 ma0 mb2">php</h2>
                        <p class="ma0 lh-copy" style="color:#918EA2">Matches all links with "php"</p>
                    </a>
                </div>
            </div>

            <div class="b--near-white b--solid bt-0 bl-0 br-0 bw1 hover-bg-near-white">
                <div class="w-80 pa3 cf relative center">
                    <a href="?search=php+OR+exlir" class="ml2 link w-100 db fl awesome-purple-color">
                        <h2 class="f4 ma0 mb2">php OR elixr</h2>
                        <p class="ma0 lh-copy" style="color:#918EA2">Example of using an operator. AND and NOT also supported.</p>
                    </a>
                </div>
            </div>

            <div class="b--near-white b--solid bt-0 bl-0 br-0 bw1 hover-bg-near-white">
                <div class="w-80 pa3 cf relative center">
                    <a href="?search=php+AND+name%3Ajobs" class="ml2 link w-100 db fl awesome-purple-color">
                        <h2 class="f4 ma0 mb2">php AND name:jobs</h2>
                        <p class="ma0 lh-copy" style="color:#918EA2">Example of matching on a list name.</p>
                    </a>
                </div>
            </div>

            <div class="b--near-white b--solid bt-0 bl-0 br-0 bw1 hover-bg-near-white">
                <div class="w-80 pa3 cf relative center">
                    <a href="?search=php*%20parallel" class="ml2 link w-100 db fl awesome-purple-color">
                        <h2 class="f4 ma0 mb2">php* parallel</h2>
                        <p class="ma0 lh-copy" style="color:#918EA2">Example of wild card matching.</p>
                    </a>
                </div>
            </div>

            <div class="b--near-white b--solid bt-0 bl-0 br-0 bw1 hover-bg-near-white">
                <div class="w-80 pa3 cf relative center">
                    <a href="?search=parallel+AND+%28name%3Aphp+OR+name%3Aruby%29" class="ml2 link w-100 db fl awesome-purple-color">
                        <h2 class="f4 ma0 mb2">parallel AND (name:php OR name:ruby)</h2>
                        <p class="ma0 lh-copy" style="color:#918EA2">Example of searching for "parallel" in the php and ruby lists.</p>
                    </a>
                </div>
            </div>

        </div>
        {% endverbatim %}
    </div>
{% endblock %}
